.img {
    width: 100px;
    height: 75px;
    border-radius: 10px;
  }

.item-div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px #e4e2e2;
}

.item-div:hover{
    background-color: #f0efef;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}

.itemsDiv {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 25%;
    height: 100%;
    border: 2px solid rgb(100, 99, 99);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px #e4e2e2;
    max-width: 350px;
    min-height: 800px;
}

.items {
    padding: 10px;
    font-size: 25px;  
}

.titleDiv {
    margin-top: 5px;
    margin-left: 8px;
}

.search {
    border-radius: 5px;
    width: 65%;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 7px;
}

.mainDiv {
    display: flex;
    flex-direction: row;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.mainTitle {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

.mainTitleDiv {
    margin-top: 30px;
}

.detailsDiv {
    display: flex;
    border: 2px solid rgb(100, 99, 99);
    width: 90%;
    height: 30%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px #e4e2e2;
}

.watchsDiv {
    width: 90%;
    height: 30%;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.watch1Div {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(100, 99, 99);
    box-shadow: 5px 5px #e4e2e2;
    width: 48%;
    height: 100%;
    border-radius: 15px;
}

.watch2Div {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(100, 99, 99);
    box-shadow: 5px 5px #e4e2e2;
    width: 48%;
    height: 100%;
    border-radius: 15px;
}

.watchTitleDiv {
    margin: 10px;
}

.watchTitle {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.singleItemDiv {
    display: flex;
    flex-direction: row;
    margin: 10px; 
    width: 100%;
}

.imgDetailsDiv {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 320px;
    height: 100%;
    border-radius: 15px;
}

.imgDetails {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.descDiv {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 7px;
    flex-grow: 1;
}

.titleItemDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleItemDesc{
    font-size: 30px;
    font-weight: bold;
}

.btnX {
    background-color: transparent;
    border: none;
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}

.descItemDiv {
    margin-top: 7px;
}

.descItemDesc {
    font-size: 20px;
}

.startingPriceItemLab{
    font-size: 20px;
}

.price{
    font-size: 20px;
    font-weight: bold;
}

.bottonsDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.watch {
    margin-right: 20px;
    font-size: 15px;
    padding: 10px 15px;
    background-color: #6f3dad;
    color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.watch:hover {
    background-color: #51149c;
  }

.singleWatch1Div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.singleWatch2Div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.detailsWatch1 {
    display: flex;
    flex-direction: row;
    height: 45%;
    width: 90%;
    margin-left: 10px;
}

.titleItemWatch1Div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 15px;
}

.titleItemWatch1Label {
    font-size: 20px;
    font-weight: bold;
}

.imgWatch1 {
    height: 100%;
    width: 160px;
    object-fit: contain;
}

.additionalInfoDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 10px;
}

.biddingDiv {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: end;
    margin-bottom: 15px;
}

.inputBid1 {
    height: 22px;
    margin-right: 10px;
}

.btnBidWatch1 {
    font-size: 15px;
    padding: 5px 15px;
    background-color: #6f3dad;
    color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btnBid:hover {
    background-color: #51149c;
}

.inforamtionLab {
    font-size: 18px;
}

.inforamtionLabValue, .secondsWatch1, .currentPriceWatch1 {
    font-size: 18px;
    font-weight: bold;
}
